<div class="container-fluid wrapper">

    <!-- Navigation <nav class="navbar navbar-default navbar-fixed-top"> -->



    <section id="home">
        <div class="container">


      <div class="row">

        <div class="col-lg-12 text-center v-center">
          <br><br><br><br><br><br><br><br><br><br>
          <img class="img-centered" src="/images/ruby-fa775cca.svg" />
          <h1 class="big">Hello, I am Alan Kiš</h1>
          <p class="big lead text-muted">An avid Ruby lover</p>

          <br><br><br>


        </div>


      </div> <!-- /row -->

        </div>
    </section>
    <!-- footer -->

</div>
 <!-- Modal -->
